<!--
  Generated template for the Userorders page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <page-homepage></page-homepage>

  <div class="form-content">
    <button ion-button (click)="back()">
      Back
    </button>
    <ion-grid>
      <h2>Your Orders</h2>

      <ion-row ion-item responsive-sm *ngFor="let order of orders">

        <ion-col>
          <!--<h1>{{order.ordername}}</h1>-->
          <h2>Company: {{order.businessEmail}}</h2>
          <h3>Date: {{order.date}}</h3>

        </ion-col>
        <ion-row>
          <ion-col width-67>
            <h3>Service:</h3>
            <p>{{order.service}}</p>
          </ion-col>
          <ion-col width-33>
            <h4>Price</h4>
            <p>{{order.amount}}</p>
          </ion-col>

        </ion-row>
        <ion-col >
          <h3>Status: {{order.status}}</h3>
          <div *ngIf="order.status=='Complete-WaitingPayment'">
            <button ion-button (click)="pay(order)">
              Pay
            </button>
          </div>
          <div *ngIf="order.status=='Complete-Paid'">
            <button ion-button (click)="review(order)">
              Review
            </button>
          </div>
          <button ion-button (click)="message(order)">
            Messages
          </button>
        </ion-col>
      </ion-row>


    </ion-grid>

  </div>
</ion-content>
