<ion-content class="main-content">

  <page-homepage></page-homepage>


  <ion-searchbar (ionInput)="getItems($event)" class="main-content"></ion-searchbar>
  <ion-list class="main-content" *ngIf="(filtered)">

    <button ion-item *ngFor="let item of filtered" (click)="itemTapped($event, item)" text-wrap>
      <ion-grid>
        <ion-row responsive-sm>
          <ion-col width-33>
            <img src="https://s-media-cache-ak0.pinimg.com/736x/9b/8d/64/9b8d647e4a91cba808e3b9d3ff057671.jpg" item-left/>
          </ion-col>

          <ion-col width-33 padding-top>
            <h1>{{item.name}}</h1>
            <p>{{item.descriptions}}</p>
          </ion-col>
          <ion-col width-33 align="end" center>
            <li>Service: {{item.service}}</li>
            <li>Rating: {{item.rating}}</li>
          </ion-col>

        </ion-row>
      </ion-grid>
    </button>
  </ion-list>

</ion-content>
