// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@media (min-width: 0) { /* =================================== */

  .main-content {
    width: 100%;
    float: none;
  }

  .side-bar {
    width: 100%;
    float: none
  }
  .header-content{

  }


} /* ========================================================== */


@media (min-width: 1000px){ /* ====== */

  .main-content {

    padding-left: 10%;
    padding-right: 10%;

  }

  .side-bar {
    width: 30%;
    float: none
  }
  .form-content {
    padding-left: 20%;
    padding-right: 20%;

  }
  .header-content {

  }


}
/* ==================== *\
    02
\* ==================== */

@media (min-width: 1500px){ /* ====== */

  .main-content {

    padding-left: 20vh;
    padding-right: 20vh;

  }

  .side-bar {
    width: 30%;
    float: none
  }
  .form-content {
    padding-left: 30%;
    padding-right: 30%;

  }
  .header-content {

  }

}

.has-header{

  top: 180px;
  bottom: 180px;

}
.title{

  color: #9e24c3;
  font-size: 50px;

}
.pad100{

  padding-left: 100px;
  padding-right: 100px;
}

img {

}


.card-background-page {
  padding-bottom: 5%;


  ion-card {

    position: center;
    text-align: center;

    //display: flex;
    //flex-direction: column;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0rem;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .card-subtitle {
    font-size: 1.0rem;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .image{
    background-size: 100%;
  }


}
