

<ion-content>
  <page-homepage></page-homepage>
  <ion-grid class="main-content">
    <ion-row>
      <ion-col>
        <button ion-button (click)="back()">Back</button>
        <p></p>
      </ion-col>
      <ion-col item-right>

        <button ion-button (click)="requestService()">Request Service</button>
        <div #map id="map">map</div>
      </ion-col>
    </ion-row>








    <ion-row responsive-sm>

      <ion-col width-50>
        <h1>
          {{company.name}}
        </h1>
        <p></p>
        <h3>
          Description
        </h3>
        <p>{{company.descriptions}}</p>
      </ion-col>
      <ion-col>
        <h4>Address: </h4>
        <p>{{company.address}}</p>
        <h4>Email: </h4>
        <p>{{company.email}}</p>
        <h4>Phone: </h4>
        <p>{{company.number}}</p>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm>

      <ion-col width-50>
        <ion-row>
          <ion-col>
            <h3>Service</h3>
          </ion-col>
          <ion-col text-right>
            <h3>Pricing ($)</h3>
          </ion-col>
        </ion-row>

        <ion-row>

            <ion-item *ngFor="let service of company.services" text-wrap>
              <ion-row>
                <ion-col>
                  <h2> {{service.name}}</h2>
                </ion-col>
                <ion-col  align="right">
                  <p>{{service.cost}}</p>
                </ion-col>
              </ion-row>
              <ion-row text-wrap>
                <ion-col><p>{{service.description}}</p></ion-col>
              </ion-row>
            </ion-item>

        </ion-row>



      </ion-col>
      <ion-col>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/9b/8d/64/9b8d647e4a91cba808e3b9d3ff057671.jpg"/>
      </ion-col>
    </ion-row>

    <ion-row responsive-sm padding>
      <h2>Rating: {{rating}}</h2>
    </ion-row>


    <h2>Reviews</h2>
    <ion-scroll scrollY="true" style="height: 50vh">
      <ion-list>
        <ion-item class="review" *ngFor="let review of reviews" text-wrap>
          <h3>{{review.customerEmail}}</h3>
          <ion-col text-wrap>
            <p>{{review.review}}</p>
          </ion-col>
          <p>Rating: {{review.rating}}</p>
        </ion-item>
      </ion-list>
    </ion-scroll>


  </ion-grid>

</ion-content>
