

<ion-content>
  <page-homepage></page-homepage>
  <ion-grid class="main-content">
    <ion-row>
      <ion-col>
        <button ion-button (click)="back()">Back</button>
        <p></p>
      </ion-col>
      <ion-col item-right>

        <button ion-button (click)="requestService()">Request Service</button>

      </ion-col>
    </ion-row>


    <ion-row responsive-sm>
      <ion-col width-50>
        <h1>
          {{company.title}}
        </h1>
        <p></p>
        <h3>
          Description
        </h3>
        <p>{{company.note}}</p>
      </ion-col>
      <ion-col>
        <h3>Address: {{company.address}}</h3>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm>

      <ion-col width-50>
        <ion-row>
          <ion-col>
            <h4>Service</h4>
          </ion-col>
          <ion-col text-right>
            <h4>Pricing</h4>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of company.listpricing">
          <ion-col>
            <p>{{item[0]}} </p>
          </ion-col>
          <ion-col text-right>
            <p>{{item[1]}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <img src={{company.image}}/>
      </ion-col>
    </ion-row>

    <ion-row responsive-sm padding>
      <h2>Rating: {{company.rating}}</h2>
    </ion-row>

    <h2>Your reviews</h2>
    <ion-scroll scrollY="true" style="height: 50vh">
      <ion-list>
        <ion-item class="review" *ngFor="let review of company.reviews" text-wrap>
          <h3>{{review.username}}</h3>
          <ion-col text-wrap>
            <p>{{review.comment}}</p>
          </ion-col>
          <p>Rating: {{review.rating}}</p>
        </ion-item>
      </ion-list>
    </ion-scroll>

  </ion-grid>

</ion-content>
